.block {
  background-color: rgb(187, 187, 255);
}

.block_placeholder {
  font-size: .75rem;
  padding: 0rem;
  background-color: transparent;
  color: transparent;
  border: none;
}

.block_placeholder:hover {
  font-size: .75rem;
  padding: 0rem;
  background-color: transparent;
  color: black;
  border: 1px black dashed;
}