.blockList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.blockList > .list-group-item {
  padding: 0;
}

.blockList > .block_background {
  border-width: 0px;
  padding-bottom: .1rem;
}