@import './global.css';

.block {
  background-color: rgb(187, 187, 255);
  height: 100%;
  border: 1px solid rgba(0,0,0,.125);
  border-width: 0px 0px 1px;
  border-radius: .3rem;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0 0 0 0.5rem;
  margin-right: .5rem;
}

.block:last-child {
  border: 0;
}

.block.project:hover, .block.project:focus {
  cursor:pointer;
  box-shadow: var(--focus-shadow-inner)
}

/************************************/

/* Body style for blocks more than 30 mins */

.block-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.block-body p {
  margin: 0;
}

.block-body span {
  font-size: 0.8rem;
  margin: 0;
}

/************************************/

/* Body controls */

.block-controls {
  display: flex;
  gap: 1rem;
  background-color: rgba(0,0,0,.125);
  border-radius: 10%;
  overflow: hidden;
}

.block-controls button {
}

/* Body style for shortest (15-minute) blocks */

.block.tiny .block-body {
  flex-direction: row;
  align-items: flex-start;
  font-size: .7rem;
  gap: .5rem;
}

.block.tiny .block-body span {
  font-size: .7rem;
}

.block.tiny .block-controls {
  display: none;
  transform: translateX(4rem);
  transition: all .5s;
  transition-delay: 1s;
  background-color: rgb(197, 197, 197);
  flex-direction: column;
  z-index: 1;
  gap: 0;
  box-shadow: var(--hover-shadow);
}

.block.tiny:hover .block-controls,
.block.tiny:focus .block-controls,
.block.tiny .block-controls:hover,
.block.tiny .block-controls:focus {
  transform: translateX(0rem);
  transition-delay: 0s;
  z-index: 1;
  display: flex;
}

/* Body style for small (30-minute) blocks */
.block.short .block-body {
  flex-direction: row;
  align-items: flex-end;
  gap: .5rem;
}


/************************************/

/* Spacer styles */

.block.spacer {
  background-color: transparent;
  border-radius: 0;
  border-width: 0;
  margin-right: 0;
}

.block.spacer.hour-end {
  border-width: 0 0 1px;
}

.block.project + .hour-start {
  border-width: 1px 0 0 0;
}

.block.spacer:hover {
  box-shadow: var(--focus-shadow-inner);
}

@keyframes slide-out {
  0% {
    transform: translateX(0rem);
  }
  100% {
    transform: translateX(4rem);
  }
}