.daySchedule {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 66%;
}

.dayScheduleHeader {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.dayScheduleInternal {
  width: 100%;
  display: flex;
  justify-content:center;
  border: 1px solid rgba(0,0,0,.125);
}