html {
  /* Colors */
  --egypt-blue: #1034A6;

  /* Fonts */
  --logo-font: 'Yellowtail', cursive;

  /* Shadows */
  --focus-shadow-outer: drop-shadow(0 0 .1rem var(--egypt-blue));
  --focus-shadow-inner: inset 0 0 .15rem var(--egypt-blue);
  --hover-shadow: .1rem .1rem .2rem black;

  /* Animations */
  --anim-expand-in: expand-in .3s forwards;
  --anim-collapse-slide-out: slide-left-fade-out .2s forwards, collapse .3s .2s forwards;
  --anim-swipe-in-out: swipe .3s linear 1, swipe .3s linear 2s 1 forwards;
  --anim-slide-in-right: slide-in-right .3s ease-out 1 forwards;
}

@keyframes slide-left-fade-out {
  100% {
    opacity: 0;
    transform: translateX(-30px);
  }
}

@keyframes slide-in-right {
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes collapse {
  100% {
    height: 0;
    min-height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-width: 0;
  }
}

@keyframes expand-in {
  0% {
    height: 0;
    min-height: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    border-width: 0;
  }
}

@keyframes swipe {
  0% {
    opacity: 0%;
    transform:  translate(5px, -5px) rotate(-45deg);
  }
}