@import './global.css';

.loading {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading>p {
  font-size: 2rem;
  font-family: 'Yellowtail', cursive;
  color: var(--egypt-blue);
}