.reportBar {
  width: 100%;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: inset 0rem .05rem .1rem rgb(0,0,0,0.5);
  --light-to-dark-vertical: linear-gradient(rgba(255,255,255, .5), rgba(0,0,0, .2));
  --dark-wavy-pattern: linear-gradient(80deg, transparent 5%, rgba(0,0,0, .1) 50%, transparent 95%);
  --dark-wavy-accent: linear-gradient(30deg, transparent 30%, rgba(255,255,255, .1) 60%, rgba(0,0,0, .05) 80%, transparent 90%);
  --light-wavy-pattern: linear-gradient(80deg, transparent 5%, rgba(255,255,255, .12) 50%, transparent 95%);
  --light-wavy-accent: linear-gradient(30deg, transparent 30%, rgba(255,255,255, .1) 60%, rgba(0,0,0, .2) 80%, transparent 90%);
  --flow-animation: 3s cubic-bezier(.25,.4,.86,.73) pulse infinite;
}

.reportBar.overfilled {
  box-shadow: none;
  border-radius: .5rem .75rem .75rem .5rem;
  box-shadow: 0rem 0rem .5rem rgb(255, 217, 0, 1);
  background-color: rgb(255, 217, 0)!important;
  background-image: var(--light-to-dark-vertical), var(--dark-wavy-pattern);
  background-size: 30rem;
  animation: var(--flow-animation);
  animation-direction: reverse;
  animation-duration: 2s;
}

.reportBar-inner {
  height: 1.5rem;
  border-radius: 0 .75rem .75rem 0;
  background-size: 30rem;
  background-position: 50%;
  animation: var(--flow-animation);
  }

.reportBar-inner.dark {
  background-image: var(--light-wavy-pattern), var(--light-wavy-accent), var(--light-to-dark-vertical);
}

.reportBar-inner.light {
  background-image: var(--dark-wavy-pattern), var(--dark-wavy-accent), var(--light-to-dark-vertical);
}

.reportBar-inner.overfilled {
  border-radius: 0 .5rem .5rem 0;
  border-right: .1rem solid rgb(255, 217, 0, .3);
}

@keyframes pulse {
  0% {
    background-position: 30rem;
  }

  100% {
    background-position: 0rem;
  }
}

/* Metallic effect slightly modified from: https://codepen.io/ElJefe/pen/aprLdG */
@keyframes shimmer { 
  0% {
      transform:translateX(-100%) translateY(-100%) rotate(30deg);
  }
  80% {transform:translateX(-100%) translateY(-100%) rotate(30deg);}
	100% {transform:translateX(100%) translateY(100%) rotate(30deg);}
}