.report {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3rem;
  width: 75%;
}

.report ul {
  margin-top: 1rem;
  padding-left: 0;
}

.report-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
}