.ScheduleBar {
  list-style-type: none;
  padding: 0px;
  margin-bottom: 0px;
  font-size: 0.9rem;
  border-right: 1px solid rgba(0,0,0,.125);
}

.ScheduleBarSection {
  font-size: small;
  height: 4rem;
}