@import './global.css';

.session-list {
  width: 100%;
  transition: all .3s;
  margin-bottom: .5rem;
}

.session-list.empty {
  animation: var(--anim-collapse-slide-out);
}

.session-list:last-child {
  margin-bottom: 2rem; /* Ensure enough room at bottom of scroll area */
}