@import './global.css';

.session-item {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: stretch;
  text-align: left;
  row-gap: 0.25rem;
  padding: .25rem 0 .25rem .75rem;
  overflow: hidden;
  min-height: 5rem;
  transition: all .3s;
}

.session-item:focus, .session-item:focus-within {
  box-shadow: inset 0 0 .2rem var(--egypt-blue);
  outline: none;
}

.session-item:last-child {
  margin-bottom: 2rem;
}

.session-item form {
  display: flex;
  flex-flow: row wrap;
  row-gap: 0.25rem;
  column-gap: 0.25rem;
}

.session-item label {
  margin-right: 0.3rem;
}


/* Status-specific styles */
.session-item.editing {
  background-color: rgb(203, 255, 255);
}

.session-item.submitting {
  background-color: rgb(0, 255, 242);
}

.session-item.success {
  background-color: rgb(158, 206, 158);
}

.session-item.deleting {
  animation: var(--anim-delete);
}
/******************************/

.session-item.header {
  display: flex;
  text-align: left;
  font-size: 1.3rem;
  border-bottom: 2px solid rgba(0,0,0,.3);
  min-height: 2rem;
}

.session-item.empty {
  min-height: 2rem;
}

.session-item-content {
  flex: 4 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  row-gap: 0.2rem;
}

.session-item-status {
  flex: 1 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:stretch;
}

.session-item-status button {
  border-radius: .2rem 0 0 .2rem;
  padding: .25rem;
  border-right: 0;
  box-shadow: 1px 0rem;
  transition: all .15s;
}

.session-item-status button:focus {
  margin-left: -.5rem;
}

.session-item-status button:hover {
  margin-left: -.5rem;
}

.session-item-title {
  flex: 2 0;
}

.session-item-date {
  display: flex;
  justify-content: flex-start;
  gap: .5rem;
}

.session-item-time {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: .3rem;
  min-width: fit-content;
  font-size: 0.95rem;
}

.session-item input {
  border: 0px solid rgba(0,0,0, .125);
  background-color: rgba(0, 140, 255, 0.1);
  border-radius: .5rem;
  padding-left: 0.25rem;
  transition: all .15s;
}

.session-item input:focus {
  outline:none;
  box-shadow:0 0 .5rem var(--egypt-blue);
}

@media (min-width: 600px) {
  .session-item {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin: 0 4rem;
  }

  .session-item-content {
    display: flex;
    flex: 11 0;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .75rem;
  }

  .session-item-status {
    flex: 1 0;
    text-align: end;
    flex-direction: row;
    justify-content: space-around;
    gap: .5rem;
    margin-right: .5rem;
  }

  .session-item-status button {
    padding: .25rem;
    border-right: 0;
    box-shadow: 1px 0rem;
    transition: all .15s;
    border-radius: .2rem;
    flex: 1 0;
    width: 4rem;
  }

  .session-item-status button:focus {
    margin-left: inherit;
  }

  .session-item-status button:hover {
    margin-left: inherit;
  }

  .session-item-date {
    justify-content: left;
    flex-direction: column;
    gap: .5rem;
  }

  .session-item-date .editing {
    flex-direction: column;
    justify-content: left;
    gap: .5rem;
  }

  .session-item form {
    flex-direction: column;
  }
}

@media (min-width: 875px) {

  .session-item {
    min-height: 3.5rem;
  }

  .session-item-content {
    justify-content: flex-start;
    gap: 2rem;
  }

  .session-item-date {
    flex-direction: row;
    flex: none;
  }

  .session-item-time {
    flex: none;
  }

  .session-item form {
    flex-direction: row;
    margin-right: .5rem;
  }
}