.session-item {
  display: flex;
  align-items: center;
  text-align: left;
  gap: 1rem;
}

.session-item.submitting {
  background-color: red;
}

.session-item.success {
  background-color: green;
}

.session-item p {
  margin: 0;
}

.session-item.header {
  display: flex;
  text-align: left;
  gap: 1rem;
  font-size: 1.2rem;
  border-bottom: 2px solid rgba(0,0,0,.3)
}

.session-item-title {
  flex: 1 0;
}

.session-item-time {
  display: flex;
  justify-content: space-between;
  gap: .3rem;
  flex: 3 0;
}

.session-item-date {
  flex: 2 0;
}

.session-item-hint {
  opacity: 0%;
}

.session-item:hover .session-item-hint {
  opacity: 66%;
}

.session-item input {
  border: 0px solid rgba(0,0,0, .125);
  background-color: rgba(0, 140, 255, 0.1);
  border-radius: .5rem;
  padding: 0 0.2rem 0 0.4rem;
}

.session-item input:focus {
  outline:none;
  box-shadow:0 0 .5rem blue
}
